.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 96vh;
    background-color: #f7f7f7;
    text-align: center;
    overflow: scroll;
}


.sidenav h3 {
    margin: 1rem;
    color: #aaaaaa;
    text-align: left;
    font-size: 1.2rem;
}

.sidenav .sidenav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.sidenav .sidenav-items:hover {
    cursor: pointer;
    background-color: white;
}

.sidenav .sidenav-items svg {
    width: 10%;
}

.sidenav .sidenav-items p {
    margin: 0 .5rem;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    text-align: left;
}

.sidenav .sidenav-items .headings {
    color: #aaaaaa;
}

.sidenav .sidenav-items img {
    border-radius: 5px;
    width: 12%;
}

.sidenav .communities-items {
    padding: .5rem;
}

.line {
    content: "";
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #aaaaaa;
    /* border: 1px solid black; */
}