.coub-hero {
    margin: 3rem 0;
}

.coub-hero video {
    width: 100%;
    border-radius: 5px;
}

.coub-hero .coub-details-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.coub-hero .coub-details-hero .creator-details {
    display: grid;
    grid-template-columns: 3.5rem auto;
    align-items: center;
    column-gap: .5rem;
}

.coub-hero .coub-details-hero .creator-details img {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    border-radius: 50%;
}

.coub-hero .coub-details-hero .creator-details .creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coub-hero .coub-details-hero .creator-details .creator p {
    font-size: 1rem;
    color: #999999;
}

.coub-hero .coub-details-hero .creator-details .creator h3 {
    font-size: 1rem;
    margin: 0 .5rem;
}

.coub-hero .coub-details-hero .stats-hero {
    display: flex;
    flex-direction: row;
}

.coub-hero .coub-details-hero .stats-hero .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .5rem;
}

.coub-hero .coub-details-hero .stats-hero .stat p {
    margin: .5rem 0;
}

.coub-hero .tags-views-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coub-hero .tags-views-hero .tags {

}

.coub-hero .tags-views-hero .views p {
    color: #999999;
    font-size: 1.2rem;
}